@import "../app.scss";

.body {
  width: 50%;
  min-height: 100vh;
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    h1 {
      letter-spacing: 20px;
      color: $nl-very-light-gray;
    }

    img {
      cursor: pointer;
    }
  }

  .todo-container {
    margin: 2rem 0;
  }

  .reorder {
    font-size: 12px;
    justify-self: flex-end;
  }
}

// Strictly Dark Theme

.dark {
  color: $nd-dark-grayish-blue;
}

// Strictly Light Theme

.light {
  color: $nl-dark-grayish-blue;
}
