@import '../app.scss';

.body {
  width: 50%;
  min-height: 100vh;
  background: #000;
  padding: 4rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  h1 {
    letter-spacing: 5px;
  }

  img {
    cursor: pointer;
  }
}

.todo-container {
  margin: 2rem 0;
}
.comment {
  font-size: 12px;
  justify-self: flex-end;
}